#header404 {
    font-family: sans-serif;
    text-align: center;
    color: crimson;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px crimson;
    font-size: 100px;
}

#text404 {
    color: rgb(31, 31, 31);
    font-family: monospace;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}