body {
    font-family: sans-serif;
}

ul {
    font-family: 'Franklin Gothic Medium';
    font-size: 128px;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.bigtimer {
    text-align: center;
    color: crimson;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px crimson;
    font-size: 100px;
}