body {
    font-family: sans-serif;
}

ul {
    font-family: 'Franklin Gothic Medium';
    font-size: 128px;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}