body {
    font-family: sans-serif;
}

.list {
    list-style: square;
}

.bigtimer {
    text-align: center;
    color: crimson;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px crimson;
    font-size: 100px;
}

.black-section {
    background-color: darkslategray;
    width: 100%;
}