:root {
    background-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
}

body {
    margin: 0;
}

#flip-cards {
    display: grid;
    background-color: rgb(31, 31, 31);
    grid-template-columns: auto 110px 10px 10px 110px auto;
    grid-template-rows: auto repeat(10, 30px) auto;
    row-gap: 3px;
    width: 100vw;
    height: 100vh;
}

.flip-up {
    grid-column: 3 / 6;
    background-color: navajowhite;
    padding-left: 50px;
}

.flip-down {
    grid-column: 2 / 5;
    background-color: navajowhite;
    padding-right: 50px;
}

.flip-real-up {
    grid-column: 3 / 6;
    background-color: rgb(177, 147, 109);
}

.flip-up,
.flip-down,
.flip-real-up {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dice-canvas {
    grid-column: 2 / 5;
}

.sum-button-allowed,
.sum-button-not-allowed {
    font-family: sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    margin: auto;
    grid-row: 12 / 13;
    grid-column: 1 / 7;
    border-style: outset;
    border-width: medium;
    border-color: rgb(43, 43, 43);
    border-radius: .3em;
    padding: 0.15em 0.35em 0.25em 0.25em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sum-button-allowed {
    color: greenyellow;
    text-shadow: 2px 2px 2px greenyellow;
    cursor: pointer;
}

.sum-button-not-allowed {
    color: crimson;
    text-shadow: 2px 2px 2px crimson;
    cursor: not-allowed;
}

.sum-button-allowed:active {
    border-style: inset;
    padding: 0.17em 0.35em 0.23em 0.25em;
}
