:root {
    background-color: rgb(31, 31, 31);
    color: rgb(222, 227, 245);
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

#title {
    margin: 0 auto;
    padding: 1em;
    padding-bottom: .5em;
}

ul {
    width: 90%;
    list-style: none;
}

li {
    margin-top: 1em;
}

input,
textarea {
    background-color: rgb(43, 43, 43);
    color: rgb(222, 227, 245);
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    box-sizing: border-box;
    border: 2px inset rgb(41, 41, 41);
    padding: .25em;
    padding-left: .5em;
    margin-top: .25em;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-radius: 2px;
}

button {
    font-family: inherit;
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(43, 43, 43);
    color: rgb(222, 227, 245);
    padding: .25em;
    cursor: pointer;
}

button:active {
    background-color: rgb(68, 68, 68);
}

.output-item {
    display: grid;
    grid-template-columns: 7em auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.output-text {
    padding: 10px;
    grid-column: 2 / 3;
}

.copy-button {
    margin: 10px;
    grid-column: 1 / 2;
    margin: auto;
}

#input {
    grid-column: 1 / 2;
}

#option-buttons {
    width: 15em;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 75% auto;
    background-color: rgb(43, 43, 43);
    border: 2px outset rgb(41, 41, 41);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.bc {
    grid-row: 2 / 3;
}

.bw {
    grid-row: 3 / 4;
}

.bl {
    grid-row: 4 / 5;
}

.option-label {
    padding: 1em;
    cursor: pointer;
}

.option-button {
    margin: auto;
    cursor: pointer;
}