:root {
    background-color: rgb(31, 31, 31);
    color: rgb(222, 227, 245);
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

#title {
    margin: 0 auto;
    padding: 1em;
    padding-bottom: .5em;
}

ul {
    width: 90%;
    list-style: none;
}

li {
    margin-top: 1em;
}

input,
textarea {
    background-color: rgb(43, 43, 43);
    color: rgb(222, 227, 245);
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    box-sizing: border-box;
    border: 2px inset rgb(41, 41, 41);
    padding: .25em;
    padding-left: .5em;
    margin-top: .25em;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-radius: 2px;
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: rgb(43, 43, 43);
    color: rgb(222, 227, 245);
    cursor: pointer;
}

button:active {
    background-color: rgb(222, 227, 245);
    color: rgb(43, 43, 43);
}